@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: #0f0f16;
}

*::selection {
  background-color: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ece9e9;
}

::-webkit-scrollbar-thumb {
  background: #464343;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2e2d2d;
}
